@charset "utf-8";

/*top_visual 슬라이더 메인 메뉴*/

#top_visual {
    width: 100%; height: 700px;
    top: 0; left: 0; right: 0; bottom: 0; z-index: 10;
    border: 2px solid darkblue;
    background-color: black;
}

/* 메인공통 .main_panel */

.main_panel { 
    width: 100%; padding: 80px 0; position: relative; 
    background-position: center; background-size: cover;
    background-repeat: no-repeat; background-color: #fff;
    border: 2px solid palevioletred;
}

.main_panel .main_title{
    width: 100%;
    height: max-content;
    border: 10px solid rgb(0, 0, 0);
    text-align: left;
    position: relative;
    margin-top: 40px;

}

.main_panel .main_title .tit{color: #222; font-size: 44px; font-weight: 700; line-height: 1.2em; letter-spacing: -2px;}
.main_panel .main_title .tit2{color: #666; font-size: 34px;}
.main_panel .main_title .txt{color: #222; font-size: 18px;}
.main_panel .main_title .desc{font-size: 14px;}

/* .main_panel .main_title + * { margin-top: 40px;} */

/* 첫 번째 page_panel1 */

#panel1{
    width: 100%;height: 1000px;
    background-color: rgb(9, 148, 148);
    border: 5px solid rgb(215, 255, 223);
}
.swiper-slide{
    width: max-content;
    height: max-content;
    border: 1px solid whitesmoke;
}
.pd_box{
    width: 100%;
    height: 100%;
    border: 1px solid firebrick;
}
.top_txt{ 
    width: 100%;
    height: 50px;
    border: 5px solid whitesmoke;}

.item img{width: 250px; height: 250px; background-color: black; ;}
    
/* 이벤트 page */

#event_panel{
    width: 100%;
    height: 200px;
    background-color: goldenrod;
    border: 5px solid #333;
}

/* 두 번째 page_panel2 */

#main_panel2{
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 155, 202);
    border: 5px solid snow;
}

/* 세 번째 page_panel3 */

#main_panel3{
    width: 100%;
    height: 800px;
    background-color: rgb(236, 195, 255);
    border: 5px solid rgb(56, 56, 56);
}

/* 네 번째 page_panel4 */

#main_panel4{
    width: 100%;
    height: 500px;
    background-color: rgb(189, 189, 189);
    border: 5px solid rgb(129, 129, 129);
}

/* 다섯 번째 page_panel5 */

#main_panel5{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 91, 91);
    border: 5px solid rgb(0, 0, 0);
}


