@charset "utf-8";

/* top_visual */
.visual_box { width:100%; display: block; position: relative; overflow: hidden; height: 700px;}
.visual_box .visual_bg { /*position:absolute; top:0; left:0; right:0; bottom:0; */width:100%; height: 700px; background-position: center; background-repeat: no-repeat; background-size: auto 100%; display: block; z-index: 1;}

.top_visual .text_table_wrap {width:100%; height: 700px; position:absolute; top:0; left:0; right:0; bottom:0; z-index: 10;}
.top_visual .text_table {width:100%; height: 100%; display: table; table-layout: fixed}
.top_visual .text_table .cell { display: table-cell; vertical-align: middle; text-align: center;}
.top_visual .text_table .cell.top { vertical-align: top;}
.top_visual .text_table .cell.bottom { vertical-align: bottom;}
.top_visual .text_table .cell.left {  text-align: left;}
.top_visual .text_table .cell.right {  text-align: right;}
.top_visual .text_table .cell .tit { font-size:50px; font-weight: 100; color:#fff; margin-top:15px; line-height: 1.2em;}
.top_visual .text_table .cell .tit span {font-weight: 700; }
.top_visual .text_table .cell .tit b {font-weight: 700; }

.top_visual .text_table .cell .txt { font-size:18px; font-weight: 500; color:#fff; line-height: 1.2em;}
.top_visual .text_table .cell .desc { font-size:16px; color:#fff; margin-top:15px; line-height: 1.2em; opacity: 0.5;}

.top_visual .btn_box { margin-top: 40px;}

.top_visual {width:100%; position: relative; overflow: hidden;}
.top_visual .swiper-button-prev, 
.top_visual .swiper-container-rtl .swiper-button-next { top:50%; left:50%; right:auto;bottom:auto; margin-top:-20px; margin-left:-700px; width:50px; background-image: url(../img/icon/btn_prev_w.png);}
.top_visual .swiper-button-next, 
.top_visual .swiper-container-rtl .swiper-button-prev { top:50%; right:50%; left:auto;bottom:auto; margin-top:-20px; margin-right:-700px; width:50px; background-image: url(../img/icon/btn_next_w.png);}


.top_visual .swiper-pagination {position: relative; text-align: left; margin-top:30px}
.top_visual .swiper-pagination-bullet {width:40px; height:40px; background:transparent; border:1px solid rgba(0,0,0,0); opacity: 1; position: relative;}
.top_visual .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left:5px}
.top_visual .swiper-pagination-bullet::after {content:""; display: block; width:8px; height: 8px; background:#999;transform: rotate(45deg); position: absolute; top:16px; left:16px }
.top_visual .swiper-pagination-bullet-active { border:1px solid #3284ff; }
.top_visual .swiper-pagination-bullet-active::after { background:#3284ff}

/* 메인공통 */
.main_panel { width:100%;padding:80px 0; position: relative; background-position: center; background-size: cover; background-repeat: no-repeat; text-align: center; background: #fff;}

.main_panel .main_title { text-align: left; position: relative;}
.main_panel .main_title .tit { color:#222; font-size: 44px; font-weight: 700; line-height: 1.2em; letter-spacing: -2px; }
.main_panel .main_title .tit2 { color:#3284ff; font-size: 34px; font-weight: 700; line-height: 1.2em; letter-spacing: -2px; }
.main_panel .main_title .txt { color:#666; font-size: 18px; line-height: 1.3em; }
.main_panel .main_title .desc { color:#666; font-size: 14px; line-height: 1.3em; opacity: 0.7; letter-spacing: -0.5px; }
.main_panel .main_title .tit b { color:#3284ff;font-weight: 700;}
.main_panel .main_title p + p { margin-top:10px}

.main_panel .main_title + * { margin-top: 40px;}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {opacity: 0; display: none;}


/* 이벤트 */
.main_event { background:#3284ff; text-align: center; overflow: hidden;}
.main_event .inner {padding:60px 0}
.main_event .tit { color:#fff; font-size: 30px; font-weight: 700; line-height: 1.3em;width: calc(100% - 600px); margin: 0 auto; }
.main_event .txt { color:#fff; font-size: 16px; line-height: 1.3em; letter-spacing: -1px; margin-top: 5px;}
.main_event .obj { position: absolute; top:0; left:0; width:242px; height: 100%; overflow: hidden;}
.main_event .obj img { width:100%;position: absolute; top:50%; transform: translateY(-50%); left:0; }
.main_event .btn { position: absolute; top:50%; right:0; transform: translateY(-50%); min-width: auto; width: 200px;}


/* 경쟁력 */
.vs_panel.main_panel {padding-top: 50px;}
.vs_panel .inner { background:url(../img/main/bg_phone.jpg) center bottom no-repeat; padding:100px 0 80px}
.vs_panel .main_title { padding-bottom: 50px;}
.vs_panel .main_title .tit2 {position: absolute; bottom:0; right:0;width: 30%;}

/* .vs_panel .phone_box { position: relative;}
.vs_panel .phone_box .vs_slider { position: absolute; bottom:100px; left:0; right:0; width:100%} */
.vs_panel .phone_box .vs_slider .box { display: block; position: relative;}
.vs_panel .phone_box .vs_slider .img_box { position: relative; width: 75%; margin:0 auto; overflow: hidden; border-radius: 10px; font-size: 0; box-shadow: 0 0 15px rgba(0,0,0,0.2);}
.vs_panel .phone_box .vs_slider .img_box img {width:100%}
.vs_panel .phone_box .vs_slider .img_box img + img { position: absolute; top:0; left:0; opacity: 0;}

.vs_panel .phone_box .vs_slider .txt_box { position: absolute; width: 100%; left:0; right:0; bottom:40px}
.vs_panel .phone_box .vs_slider .txt_box .txt1 { color: rgb(221 221 221); font-size: 26px; font-weight: 700; line-height: 1.3em; display: block;}
.vs_panel .phone_box .vs_slider .txt_box .txt2 { color: rgb(0 0 0 / 0%); font-size: 16px; line-height: 1.3em; margin-top: 10px; letter-spacing: -1px; display: block;}
.vs_panel .phone_box .vs_slider .txt_box .btn {margin-top: 30px;}


/* 업데이트 */
.update_panel { background: #f1f1f1;}
.update_panel .update_box ul { width:calc(100% + 40px); display: table; table-layout: fixed; border-spacing: 20px; margin: -20px;}
.update_panel .update_box ul li { display: table-cell; width:33%; vertical-align: top; background: #fff; border-radius: 10px; text-align: left;overflow: hidden;}
.update_panel .update_box ul li .box { padding:30px 30px 0; }
.update_panel .update_box ul li .box .tit { color:#222; font-size: 26px; font-weight: 700; line-height: 1.3em; letter-spacing: -0.5px;}
.update_panel .update_box ul li .box .txt { color:#666; font-size: 16px; line-height: 1.3em; margin-top: 10px; letter-spacing: -1px;}
.update_panel .update_box ul li .box .img { margin:10px -30px 0; font-size: 0;}
.update_panel .update_box ul li .box .img img {width:100%;}
.update_panel .btn_box { margin-top: 40px;}

.update_panel .main_title { position: relative;}
.update_panel .btn { position: absolute; bottom:0; right:16px}


/* 성공 후기 */
.main_review_panel {  text-align: center;}
.main_review_panel .photo_box {position: relative; }
.main_review_panel .photo_box .thumb {width:100%}
/* .main_review_panel .photo_box .thumb img {width:100%} */
.main_review_panel .thumb {display: block;  font-size:0; padding-top:56%; overflow: hidden; position: relative;width: 100%;}
.main_review_panel .thumb img.thumbimg{/*opacity: 0.5;*/ position: absolute; top:0; left:0; right:0; width:100%;}
.main_review_panel .thumb .btn_play{/*opacity: 0.5;*/ position: absolute; top:50%; transform: translateY(-50%); left:0; right:0; width:100%;}
.main_review_panel .thumb .btn_play img { width: 40px;}
/* .main_review_panel .swiper-slide.swiper-slide-active img {opacity: 1;} */
.main_review_panel .swiper-slide.swiper-slide-active .thumb {background:#999}
.main_review_panel .swiper-pagination-bullet-active { background:#3284ff}

.main_review_panel .video_box {background: #f1f1f1; border-radius: 10px; overflow: hidden;}
.main_review_panel .video_box .desc_box { text-align: left; height: 160px; padding:20px 20px 10px;}
.main_review_panel .video_box .desc_box .subject { color:#222; font-size: 18px; font-weight: 700; line-height: 1.4em; margin-top: 5px;}
.main_review_panel .video_box .desc_box .txt { color:#999; font-size: 13px; font-weight: 500; line-height: 1.6em; letter-spacing: -1px; margin-top: 5px; height: 210px; overflow:hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;}
.main_review_panel .video_box .desc_box .label span {display: inline-block; vertical-align: middle; color:#3284ff; font-size: 13px; font-weight: 700; letter-spacing: 0;}
.main_review_panel .video_box .desc_box .label span.best { padding:6px 10px 5px;  border-radius: 50px; border-bottom-right-radius: 0;  background: #ED5452; font-family: 'Montserrat', sans-serif; color:#fff; font-size: 12px; font-weight: 700;}

.main_review_panel .btn_box { margin-top: 40px;}

.main_review_panel .main_title { position: relative;}
.main_review_panel .btn { position: absolute; bottom:0; right:16px}


/* 산타 프렌즈 */
.help_panel { background: #f1f1f1;}
.help_panel .help_box ul li { background: #fff;}



@media screen and (min-width:1280px){ 

    /* 좌우 화살표 pc 위치 */

    .main_review_panel .swiper-button-prev, 
    .main_review_panel .swiper-container-rtl .swiper-button-next,
    .main_review_panel .swiper-button-next, 
    .main_review_panel .swiper-container-rtl .swiper-button-prev { margin-top: -7px;}

    .main_panel.vs_panel .swiper-button-prev, 
    .main_panel.vs_panel .swiper-container-rtl .swiper-button-next { margin-top: 100px; left: 50%; margin-left: -590px;}
    .main_panel.vs_panel .swiper-button-next, 
    .main_panel.vs_panel .swiper-container-rtl .swiper-button-prev { margin-top: 100px; right:50%; margin-right: -590px;}


    /* 경쟁력 */
    .vs_panel .phone_box .vs_slider .box {position: relative; }
    .vs_panel .phone_box .vs_slider .box:hover { margin-top:-40px}

    .vs_panel .phone_box .vs_slider .swiper-slide-next + .swiper-slide .img_box img + img { opacity: 1;}
    .vs_panel .phone_box .vs_slider .swiper-slide-next + .swiper-slide .txt_box .txt1,
    .vs_panel .phone_box .vs_slider .swiper-slide-next + .swiper-slide .txt_box .txt2 { color:#fff}
    .vs_panel .phone_box .vs_slider .swiper-slide-next + .swiper-slide .btn .t { color:#fff} 
    .vs_panel .phone_box .vs_slider .swiper-slide-next + .swiper-slide .btn .ic,
    .vs_panel .phone_box .vs_slider .swiper-slide-next + .swiper-slide .btn .ic::after { background: #fff;}

    /* 성공 후기 */
    .main_review_panel .video_box:hover {box-shadow: 0 0 15px rgba(0,0,0,0.2);margin-top:-20px}
    .main_review_panel .video_box:hover .thumb img.thumbimg {transform: scale(1.1)}

}

/****************************************************************************************************************************/




@media screen and (max-width:1500px){ 

    
    /* 경쟁력 */
    .vs_panel .inner { background-size: auto 90%;padding: 100px;}

    .top_visual .swiper-button-prev, 
    .top_visual .swiper-container-rtl .swiper-button-next {margin-left:-650px; width: 30px;}
    .top_visual .swiper-button-next, 
    .top_visual .swiper-container-rtl .swiper-button-prev {margin-right:-650px; width: 30px;}

}

@media screen and (max-width:1301px){ 

    
    /* 경쟁력 */  
    .vs_panel .inner { background-size: auto ;padding: 100px 0 80px;}
    .vs_panel .main_title .tit2 { text-align: center; right:3%; width:25%; }

    .main_panel.vs_panel .swiper-button-prev, 
    .main_panel.vs_panel .swiper-container-rtl .swiper-button-next { margin-top: 75px; left: 50%; margin-left: -220px;}
    .main_panel.vs_panel .swiper-button-next, 
    .main_panel.vs_panel .swiper-container-rtl .swiper-button-prev { margin-top: 75px; right:50%; margin-right: -220px;}


}

@media screen and (max-width:1024px){ 

    .visual_box { height: auto;}
    .visual_box .pc { display: none!important;}
	.visual_box img { width:100%; display: block!important}

    .top_visual .text_table_wrap { height: 100%;}
    .top_visual .text_table .cell {vertical-align: top;padding-top: 20%;}
    .top_visual .text_table .cell,
    .top_visual .text_table .cell.left { text-align: center;}

    
    /* 경쟁력 */  
    .vs_panel .inner { background-size: auto 90%}


    /* 업데이트 */
    /* .update_panel .update_box ul li .box .txt br { display: none} */


}


@media screen and (max-width:900px){ 

    .main_panel { padding: 60px 0;}
    .main_panel .main_title + * { margin-top: 20px;}        

    .main_panel .main_title .tit { font-size: 28px; line-height: 1.2em; }
    .main_panel .main_title .tit2 { font-size: 18px; line-height: 1.2em; }
    .main_panel .main_title .txt { font-size: 16px; line-height: 1.3em; font-weight: 500; }
    .main_panel .main_title .desc {font-size: 13px; line-height: 1.3em; }

    /* 메인배너 */
    .top_visual .text_table .cell .txt { font-size: 24px;}
    .top_visual .text_table .cell .tit  { font-size: 64px; margin-top: 5px;}
    .top_visual .text_table .cell .tit span { font-size: 24px; display: block; line-height: 33px; font-weight: 500;}
    .top_visual .text_table .cell .tit span br { display: none;}
    .top_visual .text_table .cell .tit b {font-size: 80px; line-height: 1.1em; margin-top: 15px;display: block;padding: 0 30px;  }
    .top_visual .text_table .cell .desc { font-size: 24px; letter-spacing: -0.5px; line-height: 1.3em; padding: 0 30px; margin-top: 25px;}
    .top_visual .btn_box { margin-top: 25px;}
    .top_visual .btn_box .btn_arrow .t {/* opacity: 0; */}

    .top_visual.active { margin-top:60px}
    

    /* 이벤트 */
    .main_event .inner { padding:40px 0}
    .main_event .obj,
    .main_event .obj img {position: relative; width:100%; top:auto; left:auto; height:auto; transform:none}
    .main_event .btn { position: relative;top:auto; left:auto; transform:none; margin:20px auto 0; width:60%}

    .main_event .tit { font-size: 24px; margin-top: 20px; width:100%}
    .main_event .txt { margin-top:10px}


    /* 경쟁력 */
    .vs_panel.main_panel { padding:60px 0}
    .vs_panel .inner { background: #fff; padding:0}
    .vs_panel .main_title { padding-bottom: 0;}
    .vs_panel .main_title br { display: none;}
    .vs_panel .main_title .tit2 { position: relative;top:auto; left:auto; right:auto; transform:none; width:auto; margin-top: 5px; text-align: left;}

    .vs_panel .phone_box {width:calc(100% - 60px); overflow: hidden; margin-left:30px; }
    .vs_panel .phone_box .vs_slider .img_box { width:calc(100% - 24px); box-shadow: none; border:2px solid #eee;}

    .main_panel.vs_panel .swiper-button-prev, 
    .main_panel.vs_panel .swiper-container-rtl .swiper-button-next { margin-top:40px; top:50%; left:12px; margin-left: 0;}
    .main_panel.vs_panel .swiper-button-next, 
    .main_panel.vs_panel .swiper-container-rtl .swiper-button-prev { margin-top:40px; top:50%; right:12px; margin-right: 0;}

    .vs_panel .phone_box .vs_slider .txt_box { bottom: 30px;}

    .vs_panel .phone_box .vs_slider .txt_box .txt1 { font-size: 18px;}
    .vs_panel .phone_box .vs_slider .txt_box .txt2 { font-size: 14px; margin-top: 5px;}
    .vs_panel .phone_box .vs_slider .txt_box .btn { margin-top: 20px;}


    /* 최신 콘텐츠 */
    .update_panel .update_box ul li .box { position: relative; padding:20px 20px 0}
    .update_panel .update_box ul li .box .tit { font-size: 18px; }
    .update_panel .update_box ul li .box .txt { font-size: 14px; }


    /* 성공 후기 */
    .main_review_panel .btn_box{ margin-top: 20px;}


}


@media screen and (max-width:767px){ 

    .top_visual .btn_box {margin-top: 20px;}

    .vs_panel .phone_box {width:calc(100% - 20px);  margin-left: 10px; }
}



@media screen and (max-width:588px){ 


    .main_panel .main_title {  text-align: center; }

    
    /* 메인배너 */
    .top_visual .text_table .cell .txt { font-size: 16px;}
    .top_visual .text_table .cell .tit  { font-size: 44px;}
    .top_visual .text_table .cell .tit span { font-size: 16px;line-height: 18px; }
    .top_visual .text_table .cell .tit b {font-size: 40px; line-height: 1.1em;  }
    .top_visual .text_table .cell .desc { font-size: 14px; margin-top: 15px;}

   
    /* 최신 콘텐츠 */
    .update_panel .update_box ul {width: auto; display: block; margin:0 auto}
    .update_panel .update_box ul li {display: block; width: 100%; height: auto; }
    .update_panel .update_box ul li + li { margin-top: 10px;}

    .update_panel .update_box ul li .box { padding:20px}
    .update_panel .update_box ul li .box .tit { font-size: 18px; width: 65%;}
    .update_panel .update_box ul li .box .txt { font-size: 14px; margin-top: 5px;width: 65%;}

    .update_panel .update_box ul li .box .img { margin:0; position: absolute; top:0; right:0; width:33%; height: 100%; text-align: right;}
    .update_panel .update_box ul li .box .img img { width:auto; height: 90%; display: inline-block; margin-top:10%}

    .update_panel .btn_box { margin-top: 20px;}

    /* 경쟁력 */
    .vs_panel .main_title .tit2 {  text-align: center; color:#999; font-weight: normal; font-size: 14px; letter-spacing: -1px;}
    .vs_panel .phone_box .vs_slider .txt_box .txt2 { padding:0 20px; font-size: 13px;word-break: keep-all;}
    /* .vs_panel .phone_box .vs_slider .txt_box .txt2 br { display: none;} */
    .vs_panel .phone_box .vs_slider .txt_box .btn { display: none;}

    .vs_panel .phone_box {width:calc(100% - 30px);  margin-left: 15px; }
    .vs_panel .phone_box .vs_slider .img_box { width:calc(100% - 15px);}

    .btn_normal.btn_s { line-height: 40px; height: 40px; min-width: auto; width:45%; font-size: 14px;}
    

}